<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="index.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    
    <link type="text/css" rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script src="./node_modules/vue/dist/vue.js"></script>   
    <script src="./node_modules/bootstrap-vue/dist/bootstrap-vue.js"></script>
    
    <title>Unnamed Card Drawing App</title>
  </head>
  <body>

    <div id="app" class="container-fluid">
    <!--- MAIN SCREEN -->
      <div v-if="viewMode === 'main'">
        <span style="background-color: white">Click deck to draw, right-click to reset. Top-left drawn card is most recent.</span>
        <div class="row">
          <div class="col">
            <div v-on:click="drawCard" v-on:click.right.prevent="resetDeck" class="deck-card">
              <div class="deck-card-header" v-bind:style="{color: 'purple'}">DECK</div>
              <div class="deck-card-body deck-card-number">{{cards.length}}</div>
            </div>
            <div>
              <b-dropdown id="ddDeck" text="Deck" class="m-md-2">
                <b-dropdown-item-button v-on:click="setDeck('sampleDeck')">Sample Deck</b-dropdown-item-button>
                <b-dropdown-item-button v-on:click="setDeck('cthulhuDeck')">Lovecraft Deck</b-dropdown-item-button>
                <b-dropdown-divider />
                <b-dropdown-item active>Active action</b-dropdown-item>
                <b-dropdown-item disabled>Disabled action</b-dropdown-item>
              </b-dropdown>
            </div>
          </div>
          <div class="col-10">
            <li v-for="card in drawn" class="deck-drawn">
              <div class="deck-card">
                <div class="deck-card-header" v-bind:style="{color: card.color}">{{card.title}}</div>
                <div class="deck-card-body">{{card.body}}</div>
              </div>
              <br />
            </li>
        </div>
      </div>
    </div>
    <!--- CARD MAKER SCREEN -->
    <div v-else-if="viewMode === 'maker'">
      <br />
      <div class="row">  
        <div class="col-1"><label for="card-title-input">Card Title: </label></div>
        <div class="col-2"><input type="text" value="Monster" id="card-title-input"></input></div>
      </div>
      <div class="row">  
          <div class="col-1"><label for="card-color-input">Card Title Color: </label></div>
          <div class="col-2"><input type="text" value="red" id="card-color-input"></input></div>
      </div>
      <div class="row">  
        <div class="col-1"><label for="card-body-input">Card Body: </label></div>
        <div class="col-2"><textarea id="card-body-input"></textarea></div>
      </div>
    </div>

    
    <script src="./index.js" type="module"></script>
  </body>
</html>