.card-header {
    border: 1px solid black;
    font-size: 1.5em;
    text-align: center;
    width: 14vw;
}

.card-body {
    border: 1px solid black;
    border-top: 0px solid black;
    height: 12vw;
    padding: 1vw;
    width: 12vw;
}

.card-number {
    text-align: center;
    font-size: 3em;
}

.deck-drawn {
    display: inline-flex;
}