html {
    background-image: url("./background.jpg");
}

#app {
    background-image: url("./background.jpg");
}

.deck-card {
    border: 1px solid black;
    background-color: white;
    width: 15vw;
    height: 20vw;
    border-radius: 20px;
}

.deck-card-header {
    font-size: 2em;
    text-align: center;
    border-collapse: separate;
}

.deck-card-body {
    height: 12vw;
    padding: 1vw;
    border-collapse: separate;
}

.deck-card-number {
    text-align: center;
    font-size: 3em;
}

.deck-drawn {
    display: inline-flex;
}