<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Template</title>
  </head>
  <body>

    <div id="app">
      <span>Click deck to draw, right-click to reset</span>
      
      <div v-on:click="drawCard" v-on:click.right.prevent="resetDeck">
        <div class="card-header" v-bind:style="{color: 'purple'}">DECK</div>
        <div class="card-body card-number">{{cards.length}}</div>
        <br />
      </div>

      <!--
      <li v-for="card in cards">
          <div class="card-header" v-bind:style="{color: card.color}">{{card.title}}</div>
          <div class="card-body">{{card.body}}</div>
        <br />
      </li>
      <br />
      -->
      
      <li v-for="card in drawn">
        <div class="card-header" v-bind:style="{color: card.color}">{{card.title}}</div>
        <div class="card-body">{{card.body}}</div>
      <br />
    </li>
    </div>


    <script src="./index.js"></script>
  </body>
</html>